html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.header{
    min-height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}
.Start{
    margin-top: 20px;
    padding: 10px;
    align-self: start;
}
.screen{
    
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    min-width: 126px;
    min-height: 150px;
    border: 1px solid white;
    
}
.Gameboard{
    grid-column: 2;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
}
.pointer_O{
    width: 130px;
    
}
.pointer_X{
    width: 113px;
    
}
.gameover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    opacity: 0.9;
    
}
.playagain{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.Reset{
    grid-column: 2;
    grid-row: 1;
    width: 50%;
    align-self: center;
    justify-self: center;
}
.playagain:hover{
    transform: scale(1.1);
}

.player1, .player2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.player1{
    grid-column: 1;
}
.player2{
    grid-column: 3;
}
.scoreText{
    grid-column: 2;
    grid-row: 1;
    margin-top: 100px;
    justify-self: center;
    text-align: center;
}
.player1_Score, .player2_Score{
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}
@media screen and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        
    }
    .Gameboard{
        grid-column: 1;
        grid-row: 2/3;
    }
    .player1, .player2{
        grid-column: 1;
        grid-row: 1;
    }
    .player1{
        margin-top: 20px;
        justify-self: start;
    }
    .player2{
        margin-top: 20px;
        justify-self: end;

    }
    .scoreText{
        grid-column: 1;
        margin-top: 100px;
        justify-self: center;
        grid-row: 1;
        text-align: center;
    }
    .Reset{
        grid-column: 1;
        grid-row: 1;
        width: 20%;
    }
}
    
