html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.header{
    min-height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}
.Start{
    margin-top: 20px;
    padding: 10px;
    align-self: start;
}
.screen{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    min-width: 126px;
    min-height: 150px;
    border: 1px solid white;
    
}
.Gameboard{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-bottom: 60px;
}
.pointer_O{
    width: 130px;
    
}
.pointer_X{
    width: 113px;
    
}
.gameover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    opacity: 0.9;
    
}
.playagain{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.playagain:hover{
    transform: scale(1.1);
}
```
```